<% if @saml_idp_fail_msg %>
  <div id="saml_idp_fail_msg" class="flash error"><%= @saml_idp_fail_msg %></div>
<% end %>

<%= form_tag do %>
  <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
  <%= hidden_field_tag("RelayState", params[:RelayState]) %>

  <p>
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email], :autocapitalize => "off", :autocorrect => "off", :autofocus => "autofocus", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
  </p>

  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password], :autocapitalize => "off", :autocorrect => "off", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
  </p>

  <a href="#" onclick="var advanced = document.getElementById('advanced-functionality'); advanced.style.display == 'block' ? advanced.style.display = 'none' : advanced.style.display = 'block';">Advanced</a>
  <div id="advanced-functionality" style="display: none;">
    <p>
      <%= label_tag :user_id, "User ID (will come back as entity_id, leave blank for a default hash of the email):" %>
      <%= text_field_tag :user_id, params[:user_id] || "", :class => "email_pwd txt" %>
    </p>
  </div>

  <p>
    <%= submit_tag "Sign in", :class => "button big blueish" %>
  </p>
<% end %>
